#!/usr/bin/env python3
# -*- coding: utf-8 -*-
"""
Created on Thu May 14 23:45:57 2020

@author: elysekanner
"""
<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>assignments</title>
    <head>
    <body>
        <center>
        <p>
        <tt>
            <big>
            <b style = "color:#000000;">1006 Assignment Descriptions</b>
            </big>
            </tt>
            <br />
            <br />
        </p>
        </center>
        <p>
        <b style  = "color:#000000;"">HW 1:</b>
        HW 1 taught us how to convert from and to binary numbers as well 
        as how to write pseudocode and deal with Boolean operators. In the
        coding portion, we learned basic methods and list operations.
        </p>
        <p>
        <b style  = "color:#000000;"">HW 2:</b>
        HW 2 taught us the ideas behind loops and time complex for various 
        sorting algorithms. With our knowledge of time complexities, we could 
        compare the efficiencies of different algorithms. For coding, we wrote
        functions for and graphed a projectile simulation and began our machine
        learning project.
        </p>
        <p>
        <b style  = "color:#000000;"">HW 3:</b>
        HW 3 taught us how to deal with sets and dictionaries as well as how
        to implement recursive functions. We then continued on in machine 
        learning and learned how to complete the vertical percolation problem
        using some numpy.
        </p>
        <p>
        <b style  = "color:#000000;"">HW 4:</b>
        HW 4 taught us the fundamentals of object-oriented programming in 
        providing almost-complete skeleton code and having us go back and 
        create classes or objects and implement functions to restore the 
        missing parts.
        </p>
        <p>
        <b style  = "color:#000000;"">HW 5:</b>
        HW 5 taught us how to finally finish up our machine learning algorithm
        in not just separating the data out, but also provding more advanced
        stats on the existing data, providing a prediction of the classification
        of unknown data, and graphin data using seaborn and panda.
        </p>
        <p>
        <b style  = "color:#000000;"">Midterm:</b>
        On the midterm, we essentially acted as Photoshop to edit pictures by
        removing objects that should not be there, flipping the image, and 
        turning it grey.
        </p>
        <p>
        <b style  = "color:#000000;"">Final:</b>
        We are now using Flask to make a webserver!
        </p>
        <center>
        <p>
        <br />
        <br />
            <img src="roar2023.png"
            width = "500" height = "300" alt="roar2023">
        </p>
        </center>
    </body>
</html>
            
