#!/usr/bin/env python3
# -*- coding: utf-8 -*-
"""
Created on Thu May 14 23:46:46 2020

@author: elysekanner
"""

<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Elyse Kanner</title>
    <head>
    <body>
        <center>
        <p>
        <tt>
            <big>
            <b style = "color:#000000;">Completed Courses</b>
            </big>
            </tt>
            <br />
            <br />
        </p>
        </center>
        <table style="width:100%">
        <tr>
            <th>Class Name</th>
            <th>Professor</th>
        </tr>
        <tr>
            <td>General Chemistry I</td>
            <td>Robert Beer</td>
        </tr>
        <tr>
            <td>Multivariable Calculus for Eng/App Sci</td>
            <td>Drew Youngren</td>
        </tr>
        <tr>
            <td>Introduction to Mechanics & Thermodynamics</td>
            <td>Abhay Pasupathy</td>
        </tr>
        <tr>
            <td>University Writing</td>
            <td>Sheila Byers</td>
        </tr>
        <tr>
            <td>Masterpieces of Western Music</td>
            <td>Julia Hamilton</td>
        </tr>
        <tr>
            <td>The Art of Engineering</td>
            <td>David Vallancourt</td>
        </tr>
        <tr>
            <td>Introduction to Electricity/Magnetism & Optics</td>
            <td>Georgia Karagiorgi</td>
        </tr>
        <tr>
            <td>Principles of Economics</td>
            <td>Sunil Gulati</td>
        </tr>
        <tr>
            <td>Linear Algebra</td>
            <td>Nathan Dowlin</td>
        </tr>
        <tr>
            <td>Intro to Comp Sci for Eng/App Sci</td>
            <td>Timothy Paine</td>
        </tr>
        </table>
        <center>
        <p>
        <br />
        <br />
            <img src = "background.jpg"
            width = "400" height = "400" alt="background">
        </p>
        </center>
    </body>
</html>