<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <body>
        <center>
        <p>
            <tt>
            <big>
            
            <b style = "color:#000000;">ELYSE KANNER</b>
            </big>
            </tt>
            <br />
            <br />
            <img src = "pic.jpg"
            width = "240" height = "300" alt="pic">
        </p>
        <hr width = "50%" style = "color:#000000;">
        <p>
            <small style = "color:#000000;">
            Columbia University Rising Sophomore
            <br />
            <br />
            Financial Engineering Major
            </small>
        </p>
        <hr width = "50%" style = "color:#000000;">
        <p>
            <small style = "color:#000000;">
            <a href= "https://www.coolmath.com">My Favorite Website</a>
            <br />
            <br />
            <a href="/classes">Classes Page</a>
            </small>
        </p>
        </center>
    </body>
            
            
</html>

